@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.footer-social {
  @apply w-9 h-9 flex items-center justify-center rounded-full bg-opacity-0 hover:bg-opacity-10 bg-white duration-500;
}

.footer-col {
  @apply flex justify-center my-8;
}

.footer-col-title {
  @apply text-lg font-semibold text-left mb-3;
}

.footer-col-navs-container {
  @apply flex flex-col text-start text-base gap-2 font-normal;
}

.footer-col-content {
  @apply max-lg:min-w-[250px] lg:w-4/5;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0f0f;
    --foreground: #ededed;
  }
}
